<header class="banner">
 <img src="../../assets/images/logo.png" class="logo" alt="Movie Review Hub">
 <span class="logoName">Movie Review Hub</span>
 <span class="login">Not signed in.</span>
</header>
