<!DOCTYPE html>
<html lang = "en">
<head>
   <meta charset = "utf-8">
   <title><%= data.title %></title>
   <link rel = "stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <%- include('partials/header.ejs', {userName:userName}); %>
    <%- include('partials/user-navigation.ejs',{loginButton:loginButton}); %>
      <% include partials/site-navigation.ejs %>
   <main>
   <h3>We are Movie Review Hub ! </h3>
   <div>
       <br>
    <h4> Welcome to the Contact us page of Movie Review Hub</h4>
    <br>
    <h4>Contact Us here!</h4>
    <table>
        <tr>
            <td>Phone:</td><td>7897686547</td>
        </tr>
        <tr>
            <td>Email:</td><td>moviereviewhub@gmail.com</td>
        </tr>
        <tr>
            <td>Address:</td><td>9201 University Blvd</td>
        </tr>
    </table>
    </div>

   </main>
   <% include partials/footer.ejs %>
</body>
</html>
