<!DOCTYPE html>
<html lang = "en">
<head>
   <meta charset = "utf-8">
   <title><%= data.title %></title>
   <link rel = "stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
   <main>
      <br>
   <h3>Welcome to Movie Review Hub ! </h3>
   <br>
   <p>Our website carries all the popular movie reviews you’re looking for, so any night of the week can be movie night. From comedies and romance to westerns, animated films, and television series, you’ll be sure to have something you’re looking forward to watching, again and again.</p>
   <p>You can find any of the movie reviews in all of the most popular movie genres, like gut-busting comedies that will have you crying with laughter, intense action and adventure movies to keep you on the edge of your seat, documentaries packed with mind-altering information and findings on popular scientific topics, and much more.</p>
   </main>
   <% include partials/footer.ejs %>
</body>
</html>
